<div class="container">
  <div class="row">
    <div class="offset-md-7"></div>
    <div class="col-md-5">
      <div class="form-inline float-right">
          <input type="search" class="form-control" placeholder="Enter city name">
          <button class="btn btn-primary m-2">Search <span class="fa fa-search"></span> </button>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="current-weather-condition">
            <div class="card-weather">
              <div class="card-header">
                  Eldoret 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>